@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
/* font-family: 'Inter', sans-serif; */

:root {
  --primary-orange: hsl(35, 77%, 62%);
  --primary-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grey-blue: hsl(236, 13%, 42%);
  --vr-dark-blue: hsl(240, 100%, 5%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--off-white);
  font-family: "Inter", sans-serif;
  font-size: 0.975em;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
}

.nav {
  display: flex;
}

.nav ul {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
}

.nav li {
  list-style: none;
}

.nav a {
  color: var(--dark-grey-blue);
  text-decoration: none;
  cursor: pointer;
}

.burger div {
  width: 2.5rem;
  height: 0.1875rem;
  background-color: var(--vr-dark-blue);
  margin: 0.2rem;
}

.burger {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 700px) {
  body {
    overflow-x: hidden;
  }

  .logo {
    position: absolute;
    left: 2rem;
  }

  .logo img {
    height: 2rem;
  }

  .nav ul {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    width: 25rem;
    background-color: var(--off-white);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav li {
    opacity: 0;
  }

  .burger {
    display: block;
    margin-left: 20rem;
    cursor: pointer;
  }
}

.nav-active {
    transform: translateX(0%);
}
